<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

    <title>
        {%if page.title %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
     </title>

    
     <meta property="og:locale" content="en_US">
     <meta property="og:type" content="article">
     <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
     <meta property="og:url" content="{{ site.url }}{{ page.url }}">
     <meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}" />
     <meta property="og:site_name" content="WebJeda Blog">
     <meta property="article:publisher" content="http://www.facebook.com/webjeda" />
     <meta property="article:author" content="https://www.facebook.com/androcodeword" />
     <meta property="article:published_time" content="{{ page.date }}" />
     <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
     <!-- Opengrap-->
     <!-- Twiter -->
     <meta name="twitter:card" content="summary_large_image"/>
     <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
     <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
     <meta name="twitter:site" content="@webjeda" />
     <meta name="twitter:creator" content="@sharathdt">
     <meta name="twitter:card" content="summary">
     {% seo %}
     <link rel="canonical" href="{{ page.url | prepend: site.url }}">
     <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

     <!-- Favicon-->
     <link rel="shortcut icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
     <link rel="icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/ico/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/ico/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/ico/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/ico/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/ico/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/ico/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/ico/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/ico/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/ico/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/ico/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/ico/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/ico/favicon-16x16.png">
     <link rel="manifest" href="/assets/img/ico/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/assets/img/ico/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">

     <!-- Styles -->
     <!-- <link rel="stylesheet" href="https://unpkg.com/browse/tailwindcss@2.2.7/dist/base.min.css">
     <link rel="stylesheet" href="https://unpkg.com/browse/tailwindcss@2.2.7/dist/components.min.css"> -->
     <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
     <!-- <link rel="stylesheet" href="https://unpkg.com/browse/tailwindcss@2.2.7/dist/utilities.min.css"> -->
     <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css">
     <link rel="stylesheet" href="/assets/css/syntax.css">
     <link rel="stylesheet" href="/assets/css/prose.css">
     <!-- End Styles-->

</head>